.about {
   padding-top: 60px;
   background-color: #FFF5F6;
}

.about--overlay {
   margin-left: auto;
   margin-right: auto;

   background-repeat: no-repeat;
   background-position: 0px 575px;
   background-size: 100%;


   @media screen and (min-width: 0px) and (max-width: 767px) {
      background-image: url(../images/about/bg/mob/about-bg-mob-1x.png);

      @media (main-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background-image: url(../images/about/bg/mob/about-bg-mob-@2x.png);  
      }
   }

   @media screen and (min-width: 768px) {
      background-image: none;
   }

   @media screen and (min-width: 1200px) {
      background-position: bottom;
      background-image: url(../images/about/bg/desc/about-bg-desc-1x.png);

   @media (main-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background-image: url(../images/about/bg/desc/about-bg-desc-@2x.png);
      }     
   }
}




.about__uppertitle {
   margin: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: calc(21 / 18);
   text-align: center;
   text-transform: uppercase;
   color: var(--secondary-color);

   @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: calc(26 / 30);
      }

   @media screen and (min-width: 1200px) {
      font-size: 30px;
      line-height: calc(34 / 30);
      }
}

.about__title {
   margin-top: 15px;
   width: 200px;
   margin: auto;
   margin-top: 15px;
   font-weight: 400;
   font-size: 34px;
   line-height: calc(39 / 34);
   text-align: center;
   text-transform: uppercase;
   color: var(--primary-color);

   @media screen and (min-width: 768px) {
      width: 100%;
      font-size: 48px;
      line-height: calc(55 / 48);
   }

   @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: calc(66 / 58);
      letter-spacing: 0.06em;
   }
}

.about-container {

   @media screen and (min-width: 768px) {
      display: flex;
   }

   @media screen and (min-width: 768px) {
      display: flex;
   }

}

.about__img {
   display: flex;
   align-items: center;
   justify-content: center;
}



.pic-img {


   @media screen and (min-width: 768px) {
      width: 336px;
      height: 335px;
      margin-top: 40px;
      }

   @media screen and (min-width: 1200px) {
      width: 501px;
      height: 501px;
      margin-top: 60px;
   }

}

.about__group {
   width: 220px;
   margin-top: 40px;
   font-weight: 500;
   font-size: 12px;
   line-height: calc(19 / 12);
   display: block;
   margin-left: auto;
   margin-right: auto;

   @media screen and (min-width: 768px) {
      flex-basis: 334px;
      margin-left: 32px;
      font-size: 14px;
   }

   @media screen and (min-width: 1200px) {
      margin-left: 99px;
      margin-top: 150px;
      font-size: 16px;
      flex-basis: 463px;
   }
}

.about__subtitle {
   margin: 0;
   margin-bottom: 40px;
   color: var(--dark-text-color);
}

.about__text {
   margin: 0;
   margin-bottom: 10px;
   color: var(--gray-text-color);

   @media screen and (min-width: 768px) {
      margin-bottom: 10px;
   }
}

.about__text__span {
   color: var(--gray-text-color);
   margin-bottom: 20px;

   @media screen and (min-width: 768px) {
      margin-bottom: 40px;
   }
}

.about__btn {
   min-width: 176px;
   color: var(--primary-color);
   background-color: var(--light-color);

   font-weight: 700;
   font-size: 16px;
   line-height: calc(21 / 16);
   
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   padding: 0;

   &:hover,
   &:focus {
      background-color: #ecebeb;
   }
}

.about__btn__icon {
   fill: currentColor;
   margin-left: 10px;
}
