.hero-section .container {
  position: relative;
  top: 0px;
  left: 0px;
  min-width: 320px;
  height: 502px;
  @media screen and (min-width: 768px) {
    height: 416px;
  }
  @media screen and (min-width: 1200px) {
    height: 664px;
  }
}
.scale-in-bottom {
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes scale-in-bottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
.hero-section {
  overflow: hidden;
  background-color: #ffb8ca;
}

.wrapper {
  position: absolute;
  z-index: 3;
  top: 194px;
  left: 20px;
  @media screen and (max-width: 767px) {
    top: 194px;
    left: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 102px;
    left: 32px;
  }
  @media screen and (min-width: 1200px) {
    top: 147px;
    left: 16px;
  }
}
.hero-title {
  width: 218px;
  font-family: 'Titan One';
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--light-color);
  @media screen and (min-width: 768px) {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1200px) {
    width: 277px;
    font-size: 38px;
    line-height: 1.15;
  }

  &__accent {
    font-family: 'Titan One';
    font-size: 48px;
    line-height: 0.95;
    text-transform: uppercase;

    color: var(--primary-color);

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      line-height: 0.89;
    }
  }
}
.hero-nav {
  @extend %list;
  display: flex;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    margin-top: 24px;
  }

  &__item {
    margin-right: 8px;
  }
  &__item:first-child .hero-nav__link {
    min-width: 63px;
    min-height: 24px;

    background-color: var(--primary-color);
    color: var(--light-color);
    @media screen and (min-width: 1200px) {
      min-width: 107px;
      min-height: 40px;
    }
  }

  &__item:last-child .hero-nav__link {
    min-width: 83px;
    min-height: 24px;

    background-color: var(--light-color);
    color: var(--primary-color);
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 1200px) {
      min-width: 138px;
      min-height: 40px;
    }
  }
  .hero-nav__item:last-child .hero-nav__link:hover {
    background-color: #ecebeb;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans';
    text-decoration: none;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
}
.ice-cream-img {
  position: absolute;
  top: 92px;
  right: 32px;
  z-index: 2;
  @media screen and (min-width: 768px) {
    top: 80px;
    right: 303px;
  }
  @media screen and (min-width: 1200px) {
    top: 108px;
    right: 328px;
  }
}
.thumb::before {
  display: block;
  position: absolute;
  top: 83px;
  right: -62px;
  width: 346px;
  height: 344px;
  content: '';
  border-radius: 50%;
  background-color: var(--secondary-color);
  @media screen and (min-width: 768px) {
    width: 335px;
    height: 333px;
    top: 43px;
    right: 190px;
  }
  @media screen and (min-width: 1200px) {
    width: 534px;
    height: 534px;
    top: 54px;
    right: 149px;
  }
}
.left-content {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 16px;
    left: 32px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    bottom: 60px;
    left: 16px;
  }
}
.left-content-wrapper {
  @media screen and (min-width: 768px) {
    position: relative;
    top: 39px;
    left: 0px;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    top: 68px;
    left: 0px;
  }
}
.left-content__descr {
  @media screen and (min-width: 768px) {
    width: 120px;

    font-family: 'DM Sans';
    font-size: 8px;
    line-height: 1.5;
    color: var(--light-color);
  }
  @media screen and (min-width: 1200px) {
    width: 200px;

    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 1.14;
  }
}
.left-content__button {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    width: 18px;
    height: 18px;
    background-color: var(--light-color);
    border-radius: 50%;
    border-color: transparent;
    border: none;
    cursor: pointer;

    & svg {
      fill: var(--primary-color);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;

    width: 26px;
    height: 26px;
  }
}
.stats {
  position: absolute;
  top: 92px;
  right: 32px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    top: 152px;
    right: 16px;
  }
}
.stats-list {
  @extend %list;

  &__item {
    margin-top: 16px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 15px;
  }
}
.stats-quantity {
  position: relative;
  top: 0;
  right: 0;
  z-index: 4;

  margin-right: 8px;
  font-family: 'Titan One';
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;

  color: var(--primary-color);
  @media screen and (min-width: 1200px) {
    margin-right: 18px;
    font-size: 46px;
    line-height: 1.15;
  }

  &::before {
    position: absolute;
    top: -4px;
    right: -8px;

    z-index: -1;
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--light-color);
    border-radius: 50%;
    @media screen and (min-width: 1200px) {
      top: -5px;
      right: -18px;
      width: 30px;
      height: 30px;
    }
  }
}
.stats-descr {
  margin-right: 8px;

  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  text-align: right;

  color: var(--light-color);
  @media screen and (min-width: 1200px) {
    margin-right: 18px;
    font-size: 14px;
    line-height: 1.28;
  }
}
.right-pic {
  position: absolute;
  bottom: 0px;
  right: 32px;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    right: 16px;
  }
}
