.mobile-menu-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    z-index: 100;

    & svg {
        stroke: var(--primary-color);
    }

    &:focus,
    &:hover {
        fill: var(--light-color);
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu-burger {

    .mobile-menu-btn.is-open & {
        opacity: 0;
    }
}

.mobile-menu-close {
    opacity: 0;

    .mobile-menu-btn.is-open & {
        opacity: 1;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    background-color: #E17992;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    &.is-open {
        transform: translateX(0%);
    }

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.mobile-menu__btn {
    background: var(--light-color);
    width: 209px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;
}

.mobile-btn__txt {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D41443;
}