.products{
    min-width: 320px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.products__slogan{
    font-family: 'Titan One';
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
    
    @media screen and (min-width: 480px) {
        font-size: 26px;
        line-height: calc(26 / 30);
    }
    @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: calc(34 / 30);
    }
}

.products__title{
    width: 200px;
    margin-bottom: 148px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 34px;
    line-height: calc(39 / 34);
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-color);

    @media screen and (min-width: 768px) {
        margin-bottom: 158px;
        width: 100%;
        font-size: 48px;
        line-height: calc(55 / 48);
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 281px;
        font-size: 58px;
        line-height: calc(66 / 58);
    }
}

.products__list{
    @extend %list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 140px;

    @media screen and (min-width: 768px) {
        gap: 16px;
    }

    @media screen and (min-width: 1200px) {
        gap: 30px;
    }
}

.products__item {
    width: 280px;
    height: 489px;
    border-radius: 24px;
    

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 473px;
        width: calc((100% - 32px) / 3);
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 535px;
        width: calc((100% - 64px) / 3);
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.icecream {
    position: relative;
    background-color: #FFB8CA;
    animation: 2.5s show ease;
}

.icecream::before {
    content: '';
    position: absolute;

    width: 280px;
    height: 280px;
    
    transform: translateY(-50%);

    background-image: url(../images/products/icecream-mob.png);
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        top: -50%;
        transform: translateY(50%);

        background-image: url(../images/products/icecream-tab.png);
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        top: -50%;
        transform: none;

        background-image: url(../images/products/icecream-desk.png);
        background-size: 368px 394px;
    }
}

.icecoffee {
    position: relative;
    background-color: #F0D1A5;
    animation: 3s show ease;
}

.icecoffee::before {
    content: '';
    position: absolute;

    transform: translateY(-50%);
    width: 280px;
    height: 280px;
    background-image: url(../images/products/icecoffe-mob.png);
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        top: -50%;
        transform: translateY(50%);
        background-image: url(../images/products/icecoffe-tab.png);
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        top: -50%;
        transform: none;
        background-image: url(../images/products/icecoffe-desk.png);
        background-size: 368px 394px;
    }
}

.milkshakes {
    position: relative;
    background-color: #C2E297;
    animation: 3.5s show ease;
}

.milkshakes::before {
    content: '';
    position: absolute;

    transform: translateY(-50%);
    width: 280px;
    height: 280px;
    background-image: url(../images/products/milkshake-mob.png);
    background-size: 280px 280px;

    @media screen and (min-width: 768px) {
        width: 224px;
        height: 224px;
        top: -50%;
        transform: translateY(50%);
        background-image: url(../images/products/milkshake-tab.png);
        background-size: 224px 224px;
    }

    @media screen and (min-width: 1200px) {
        width: 368px;
        height: 394px;
        top: -50%;
        transform: none;
        background-image: url(../images/products/milkshake-desk.png);
        background-size: 368px 394px;
    }
}

.products__wrap{
    padding-top: 160px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-left: 32px;
        padding-right: 32px;
    }

  @media screen and (min-width: 1200px) {
      padding-top: 165px;
      padding-bottom: 60px;
      padding-left: 60px;
      padding-right: 60px;
  }
}

.products__subtitle{
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.04em;

    margin-bottom: 32px;
    padding-bottom: 38px;

    text-align: center;
    text-transform: uppercase;
    color: var(--light-color);
    
    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: calc(34 / 30);
    }
}

.products__subtitle::after {
    content: "";
    position: absolute;
 
    width: 6px;
    height: 6px;
    bottom: 0;
    left: 50%;

    border-radius: 50%;
    background: var(--light-color);
    box-shadow: -10px 0 0 var(--light-color), 10px 0 0 var(--light-color);
}

.products__text{
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(21 / 14);
    letter-spacing: 0.04em;
    text-align: center;
    
    color: var(--light-color);

    @media screen and (min-width: 768px) {
        line-height: calc(25 / 14);
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 60px;
        font-size: 16px;
        line-height: calc(28 / 16);
    }
}

.products__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--light-color);
    transition: transform var(--animation);
}
.products__btn:hover,
.products__btn:focus {
    transform: scale(1.25);
}

.products__icon{
    fill: var(--primary-color);
}

#more {
    display: none;
}

#morecoffee {
    display: none;
}

#moremilk {
    display: none;
}