body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
  margin: 0px;
}
p {
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.btn {
  border: none;
  cursor: pointer;
  height: 44px;
  border-radius: 22px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// .card-set {
//   display: flex;
//   flex-wrap: wrap;
//   gap: var(--indent);
//     @media screen and (max-width: 767px) {
//       justify-content: center;
//     }
//   }
  

// .card-set__item {
//   @media screen and (min-width: 768px) {    
//     flex-basis: calc ((100% - var(--indent) * (var(--items) - 1)) / var(--items));  
//   }
// }