:root {
  --primary-color: #d41443;
  --secondary-color: #ffa5ba;
  --light-color: #ffffff;
  --dark-text-color: #000000;
  --gray-text-color: #907e82;
  --light-gray-decor: #e1e1e1;
  --light-grey-bk-cl: #fafafa;
  --hot-pinck-dots: #c7133e;
  --background-color: #fff5f6;
  --btn-hover-dark: #D41342;
  --btn-hover-light: #ECEBEB;
  --contacts-brown: #F0D1A5;
  --contacts-green: #C2E297;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 1200px) {}