:root {
  --primary-color: #d41443;
  --secondary-color: #ffa5ba;
  --light-color: #ffffff;
  --dark-text-color: #000000;
  --gray-text-color: #907e82;
  --light-gray-decor: #e1e1e1;
  --light-grey-bk-cl: #fafafa;
  --hot-pinck-dots: #c7133e;
  --background-color: #fff5f6;
}
