<!-- About start -->
<section class="about about--overlay section">
  <div class="container">
    <h3 class="about__uppertitle">tradition and love</h3>
    <h2 class="about__title">how it's made?</h2>
    <div class="about-container">
      <picture class="about__img">
        <source
          srcset="
            ./images/about/pic/mob/pic-mob-1x.png,
            ./images/about/pic/mob/pic-mob-@2x.png 2x,
            ./images/about/pic/mob/pic-mob-@3x.png 3x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/about/pic/tab/pic-tab-1x.png,
            ./images/about/pic/tab/pic-tab-@2x.png 2x,
            ./images/about/pic/tab/pic-tab-@3x.png 3x
          "
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./images/about/pic/desc/pic-desc-1x.png,
            ./images/about/pic/desc/pic-desc-@2x.png 2x,
            ./images/about/pic/desc/pic-desc-@3x.png 3x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="pic-img"
          src="./images/about/pic/mob/pic-mob-1x.png"
          alt="Ice-cream"
        />
      </picture>
      <div class="about__group">
        <p class="about__subtitle">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>

        <p class="about__text__span">Aliquam erat volutpat. Aenean accumsan.</p>

        <button class="about__btn btn" type="button">
          Read more
          <svg class="about__btn__icon" width="6" height="10">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
      </div>
    </div>

    <!-- About end -->
  </div>
</section>
<!-- About end -->
