<!-- Секція Переваги -->
<section class="advantage">
  <div class="advantage__container">
    <h1 class="visually-hidden">Переваги</h1>
    <ul class="advantage__list">
      <li class="advantage__item">
        <div class="advantage__thumb">
          <svg class="advantage__icon" width="33px" height="50px">
            <use href="./images/icons.svg#icon-bucked"></use>
          </svg>
        </div>
        <h2 class="advantage__title">721</h2>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantage__item">
        <div class="advantage__thumb">
          <svg class="advantage__icon" width="50px" height="50px">
            <use href="./images/icons.svg#icon-apples"></use>
          </svg>
        </div>
        <h2 class="advantage__title">16kg</h2>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>

      <li class="advantage__item">
        <div class="advantage__thumb">
          <svg class="advantage__icon" width="44px" height="50">
            <use href="./images/icons.svg#icon-heart"></use>
          </svg>
        </div>
        <h2 class="advantage__title">84</h2>
        <p class="advantage__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
