<!-- ----------------------------------------------------------------------- -->
<!--                            Contacts section                             -->
<!-- ----------------------------------------------------------------------- -->
<section class="contacts section" id="contacts">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Contacts</h2>
    <!-- <div class="contacts__box"> -->
    <ul class="contacts__list">
      <li class="contacts__item">
        <ul class="company__list">
          <li class="company__item">
            <span class="company__category company__category--brown">CAFE</span>
            <p class="company__name">Chicago</p>
            <p class="company__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="company__item">
            <p class="company__days">Monday - Friday</p>
            <p class="company__time">06:00 AM - 10:00 PM</p>
            <p class="company__days">Saturday - Sunday</p>
            <p class="company__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="company__item">
            <a
              class="contacts__link"
              href="tel:+610383766284"
              aria-label="Phone"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__link"
              href="mailto:noreply@envato.com"
              aria-label="Email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="company__list">
          <li class="company__item">
            <span class="company__category company__category--green"
              >FOOD TRUCK</span
            >
            <p class="company__name">Los Angeles</p>
            <p class="company__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="company__item">
            <p class="company__days">Monday - Friday</p>
            <p class="company__time">06:00 AM - 10:00 PM</p>
            <p class="company__days">Saturday - Sunday</p>
            <p class="company__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="company__item">
            <a
              class="contacts__link"
              href="tel:+610383766284"
              aria-label="Phone"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__link"
              href="mailto:noreply@envato.com"
              aria-label="Email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <ul class="company__list">
          <li class="company__item">
            <span class="company__category company__category--brown">CAFE</span>
            <p class="company__name">New York</p>
            <p class="company__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>
          <li class="company__item">
            <p class="company__days">Monday - Friday</p>
            <p class="company__time">06:00 AM - 10:00 PM</p>
            <p class="company__days">Saturday - Sunday</p>
            <p class="company__time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="company__item">
            <a
              class="contacts__link"
              href="tel:+610383766284"
              aria-label="Phone"
              >+61(0) 383 766 284</a
            >
            <a
              class="contacts__link"
              href="mailto:noreply@envato.com"
              aria-label="Email"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <!-- </div> -->
    <div class="contacts-buttons">
      <button class="contacts-button contacts-button--dark" type="button">
        Our Locations
        <svg
          class="contacts__icon contacts__icon--dark"
          width="11px"
          height="11px"
        >
          <use href="./images/icons.svg#icon-btn-arrow-wight"></use>
        </svg>
      </button>
      <button class="contacts-button contacts-button--light" type="button">
        Franchise
        <svg
          class="contacts__icon contacts__icon--light"
          width="11px"
          height="12px"
        >
          <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
