  <footer class="footer container">
    <div class="footer__meta">
      <div class="footer__txt">
        <span class="footer__msg">homemade ice cream made</span>
        <span class="footer__accent">with passion</span>
      </div>
      <div class="footer__social">
        <ul class="footer__socialmedia">
          <li class="footer__social-web">
            <a href="#" class="footer__social-link" aria-label="github"></a
            ><svg class="footer__social-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-github"></use>
            </svg>
          </li>
          <li class="footer__social-web">
            <a href="#" class="footer__social-link" aria-label="telegram"></a
            ><svg class="footer__social-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </li>
          <li class="footer__social-web">
            <a href="#" class="footer__social-link" aria-label="facebook"></a
            ><svg class="footer__social-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </li>
        </ul>
        <span class="footer__tel"
          >Feel free to contact
          <a rel="noreferrer noopener" class="footer__nubmer" href="tel:+610383766284"></a>+61 (0)
          383 766 284</span
        >
      </div>
    </div>
  </footer>
  <div class="copyright container"><span class="copyright__txt">&#169 2022 - IceCream. All Rights Reserved.</span></div>

