<section class="gallery section">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <ul class="gallery__set list">
      <li class="gallery__item">
        <img srcset="" src="" alt="" />
      </li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
      <li class="gallery__item"></li>
    </ul>
  </div>
</section>
