<section class="gallery section">
  <div class="gallery__container container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <ul class="gallery__set list">
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob1.png    1x,
              ./images/gallery/Mob1@2x.png 2x,
              ./images/gallery/Mob1@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab1.png    1x,
              ./images/gallery/Tab1@2x.png 2x,
              ./images/gallery/Tab1@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop1.png    1x,
              ./images/gallery/Desktop1@2x.png 2x,
              ./images/gallery/Desktop1@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob1.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob2.png    1x,
              ./images/gallery/Mob2@2x.png 2x,
              ./images/gallery/Mob2@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab2.png    1x,
              ./images/gallery/Tab2@2x.png 2x,
              ./images/gallery/Tab2@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop2.png    1x,
              ./images/gallery/Desktop2@2x.png 2x,
              ./images/gallery/Desktop2@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob2.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob3.png    1x,
              ./images/gallery/Mob3@2x.png 2x,
              ./images/gallery/Mob3@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab3.png    1x,
              ./images/gallery/Tab3@2x.png 2x,
              ./images/gallery/Tab3@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop3.png    1x,
              ./images/gallery/Desktop3@2x.png 2x,
              ./images/gallery/Desktop3@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob3.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob4.png    1x,
              ./images/gallery/Mob4@2x.png 2x,
              ./images/gallery/Mob4@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab4.png    1x,
              ./images/gallery/Tab4@2x.png 2x,
              ./images/gallery/Tab4@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop4.png    1x,
              ./images/gallery/Desktop4@2x.png 2x,
              ./images/gallery/Desktop4@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob4.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob5.png    1x,
              ./images/gallery/Mob5@2x.png 2x,
              ./images/gallery/Mob5@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab5.png    1x,
              ./images/gallery/Tab5@2x.png 2x,
              ./images/gallery/Tab5@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop5.png    1x,
              ./images/gallery/Desktop5@2x.png 2x,
              ./images/gallery/Desktop5@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob5.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob6.png    1x,
              ./images/gallery/Mob6@2x.png 2x,
              ./images/gallery/Mob6@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab6.png    1x,
              ./images/gallery/Tab6@2x.png 2x,
              ./images/gallery/Tab6@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop6.png    1x,
              ./images/gallery/Desktop6@2x.png 2x,
              ./images/gallery/Desktop6@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob6.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob7.png    1x,
              ./images/gallery/Mob7@2x.png 2x,
              ./images/gallery/Mob7@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab7.png    1x,
              ./images/gallery/Tab7@2x.png 2x,
              ./images/gallery/Tab7@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop7.png    1x,
              ./images/gallery/Desktop7@2x.png 2x,
              ./images/gallery/Desktop7@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob7.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob8.png    1x,
              ./images/gallery/Mob8@2x.png 2x,
              ./images/gallery/Mob8@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab8.png    1x,
              ./images/gallery/Tab8@2x.png 2x,
              ./images/gallery/Tab8@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop8.png    1x,
              ./images/gallery/Desktop8@2x.png 2x,
              ./images/gallery/Desktop8@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob8.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob9.png    1x,
              ./images/gallery/Mob9@2x.png 2x,
              ./images/gallery/Mob9@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab9.png    1x,
              ./images/gallery/Tab9@2x.png 2x,
              ./images/gallery/Tab9@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop9.png    1x,
              ./images/gallery/Desktop9@2x.png 2x,
              ./images/gallery/Desktop9@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob9.png" alt="IceCream" />
        </picture>
      </li>
      <li class="gallery__item">
        <picture class="gallery__pic scale-in-bottom">
          <source
            srcset="
              ./images/gallery/Mob10.png    1x,
              ./images/gallery/Mob10@2x.png 2x,
              ./images/gallery/Mob10@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/Tab10.png    1x,
              ./images/gallery/Tab10@2x.png 2x,
              ./images/gallery/Tab10@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/gallery/Desktop10.png    1x,
              ./images/gallery/Desktop10@2x.png 2x,
              ./images/gallery/Desktop10@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/gallery/Mob10.png" alt="IceCream" />
        </picture>
      </li>
    </ul>
  </div>
</section>
