<header class="header">
  <div class="container header-container">
    <a class="logo" href="./index.html">
      <svg    width="199px" height="50px">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="mobile-menu-btn" type="button" data-menu-button>
      <svg class="" width="20px" height="14px">
        <use class="mobile-menu-burger" href="./images/icons.svg#icon-burger"></use>
        <use class="mobile-menu-close" href="./images/icons.svg#icon-close"></use>
      </svg>
    </button> 
     <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="nav-list__link" href="#"><p class="nav-list__txt">Home</p></a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#"><p class="nav-list__txt">About us</p></a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#"><p class="nav-list__txt">How it's made?</p></a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#"><p class="nav-list__txt">Our products</p></a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link" href="#"><p class="nav-list__txt">Contact</p></a>
        </li>
      </ul>
    </nav>
    <button class="header-btn btn" type="submit">
        <p class="header-btn__txt">Buy now
        <svg class="header-btn__icon" width="11px" height="11px">
            <use href="./images/icons.svg#icon-vector"></use>
        </svg>
        </p>
    </button>
  </div>
</header>
