<section class="hero-section">
    <div class="container">
      <div class="wrapper">
        <h1 class="hero-title">
          ice cream made with <span class="hero-title__accent">passion</span>
        </h1>
        <ul class="hero-nav">
          <li class="hero-nav__item">
            <a class="hero-nav__link" href="#">Products</a>
          </li>
          <li class="hero-nav__item">
            <a class="hero-nav__link" href="#">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="thumb">
        <picture>
          <source
            srcset="
              ./images/hero/mobile/ice-cream@1x.png 1x,
              ./images/hero/mobile/ice-cream@2x.png 2x,
              ./images/hero/mobile/ice-cream@3x.png 3x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/hero/tablet/ice-cream@1x.png 1x,
              ./images/hero/tablet/ice-cream@2x.png 2x,
              ./images/hero/tablet/ice-cream@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/hero/desktop/ice-cream@1x.png 1x,
              ./images/hero/desktop/ice-cream@2x.png 2x,
              ./images/hero/desktop/ice-cream@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="ice-cream-img"
            src="./images/hero/mobile/ice-cream@1x.png"
            alt="Ice-cream"
          />
        </picture>
      </div>
      <div class="left-content">
        <picture>
          <source
            srcset="
              ./images/hero/tablet/left-pic@1x.png 1x,
              ./images/hero/tablet/left-pic@2x.png 2x,
              ./images/hero/tablet/left-pic@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/hero/desktop/left-pic@1x.png 1x,
              ./images/hero/desktop/left-pic@2x.png 2x,
              ./images/hero/desktop/left-pic@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="left-content__img"
            src="./images/hero/tablet/left-pic@1x.png"
            alt="Milk"
          />
        </picture>
        <div class="left-content-wrapper">
          <p class="left-content__descr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <button class="left-content__button" type="button">&rarr;</button>
        </div>
      </div>
      <div class="stats">
        <ul class="stats-list">
          <li class="stats-list__item">
            <p class="stats-quantity">16</p>
            <p class="stats-descr">cafes</p>
          </li>
          <li class="stats-list__item">
            <p class="stats-quantity">23</p>
            <p class="stats-descr">food trucks</p>
          </li>
        </ul>
      </div>
      <picture>
          <source
            srcset="
              ./images/hero/tablet/right-pic@1x.png 1x,
              ./images/hero/tablet/right-pic@2x.png 2x,
              ./images/hero/tablet/right-pic@3x.png 3x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/hero/desktop/right-pic@1x.png 1x,
              ./images/hero/desktop/right-pic@2x.png 2x,
              ./images/hero/desktop/right-pic@3x.png 3x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="right-pic"
            src="./images/hero/tablet/right-pic@1x.png"
            alt="A woman is eating ice cream"
          />
        </picture>
    </div>
  </section>
  
  
  