<div class="mobile-menu" data-menu>
        <button class="mobile-menu__btn btn" type="submit">
            <span class="mobile-btn__txt">Buy now
        <svg width="11px" height="11px">
            <use href="./images/icons.svg#icon-btn-arrow"></use>
        </svg>
        </span>>
        </button>
        <ul class="mobile-menu-contacts ">
          <li><a href=""><p>Home</p></a></li>
          <li><a href=""><p>About us</p></a></li>
          <li><a href=""><p>How it's made?</p></a></li>
          <li><a href=""><p>Our products</p></a></li>
          <li><a href=""><p>Contact</p></a></li>
        </ul>
</div>