<div class="mobile-menu" data-menu>
  <button class="mobile-menu-btn close-menu-btn" type="button" data-menu-button>
    <svg class="" width="20px" height="14px">
      <use class="mobile-menu-close" href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <button class="mobile-menu__btn btn" type="submit">
    <span class="mobile-btn__txt"
      >Buy now
      <svg width="11px" height="11px">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </span>
  </button>
  <ul class="menu-list">
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Home</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">About us</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">How it's made?</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Our products</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Contact</a>
    </li>
  </ul>
</div>
