<!-- prodacts -->
<section class="prodacts section">
    <div class="container">
        <p class="prodacts__slogan">100% natural</p>
        <h2 class="prodacts__title">products</h2>
        <ul class="prodacts__list list">

            <li class="prodacts__item">
                <div class="icecream">
                    <h3 class="prodacts__subtitle">ice cream</h3>
                    <p class="prodacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt utlabore et</p>
                    <button class="btn" type="button"></button>
                </div>
            </li>

            <li class="prodacts__item">
                <div class="icecoffee">
                    <h3 class="prodacts__subtitle">ice coffee</h3>
                    <p class="prodacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="btn" type="button"></button>
                </div>
            </li>

            <li class="prodacts__item">
                <div class="milkshakes">
                    <h3 class="prodacts__subtitle">milkshakes</h3>
                    <p class="prodacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="btn" type="button"></button>
                </div>
            </li>

        </ul>
    </div>

</section>