<!-- products -->
<section class="products section" id="products">
    <div class="container">
        <p class="products__slogan">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list">

            <li class="products__item icecream">
                <div class="products__wrap">
                    <h3 class="products__subtitle">ice cream</h3>
                    <p class="products__text">Lorem ipsum dolor sit, amet 
                        consectetur adipisicing elit. Est eligendi culpa eos, 
                        non omnis, mollitia eum
                        <span id="dots">...</span>
                        <span id="more"> at exercitationem quiadolorem incidunt labore rerum, reprehenderit facilis!</span></p>
                    <button id="prodBtn" onclick="ckick1()" class="products__btn btn" type="button">
                        <svg class="products__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-right"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item icecoffee">
                <div class="products__wrap">
                    <h3 class="products__subtitle">ice coffee</h3>
                    <p class="products__text">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Est eligendi culpa eos,
                        non omnis, mollitia eum
                        <span id="dotscoffee">...</span>
                        <span id="morecoffee" style="display:none;">at exercitationem quiadolorem incidunt labore rerum, reprehenderit facilis!</span></p>
                    <button id="coffeeBtn" onclick="ckick2()" class="products__btn btn" type="button">
                        <svg class="products__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-right"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item milkshakes">
                <div class="products__wrap">
                    <h3 class="products__subtitle">milkshakes</h3>
                    <p class="products__text">Lorem ipsum dolor sit, amet
                        consectetur adipisicing elit. Est eligendi culpa eos,
                        non omnis, mollitia eum 
                        <span id="dotsmilk">...</span>
                        <span id="moremilk" style="display:none;">at exercitationem quiadolorem incidunt labore rerum, reprehenderit facilis!</span></p>
                    </p>
                    <button id="milkBtn" onclick="ckick3()"class="products__btn btn" type="button">
                        <svg class="products__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-icon-right"></use>
                        </svg>
                    </button>
                </div>
            </li>

        </ul>
    </div>

</section>