<!-- SECTION CUSTOMERS REVIEWS -->

<section class="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container reviews_container autoplay">
    <ul class="reviews_item item">
      <li class="reviews_list">
        <img
          class="reviews_foto"
          src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAhPok8.img?h=416&w=799&m=6&q=60&u=t&o=f&l=f&x=666&y=365"
          alt="avatar Emily"
          width="85"
        />

        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
      <li class="reviews_list">
        <img
          class="reviews_foto"
          src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAhPok8.img?h=416&w=799&m=6&q=60&u=t&o=f&l=f&x=666&y=365"
          alt="avatar Emily"
          width="85"
        />
        <!-- путь-к-свг-спрайту/имя-спрайта.svg#идентификатор-символа -->
        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
      <li class="reviews_list">
        <!-- ./src/images/reviews/customer-3.jpg -->
        <img
          class="reviews_foto"
          src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAhPok8.img?h=416&w=799&m=6&q=60&u=t&o=f&l=f&x=666&y=365"
          alt="avatar Emily"
          width="85"
        />
        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
