<!-- SECTION CUSTOMERS REVIEWS -->

<section class="reviews">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container reviews_container responsive">
    <ul class="reviews_item item">
      <li class="reviews_list">
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-1.jpg    1x,
            ./images/reviews/customer-1@2x.jpg 2x,
            ./images/reviews/customer-1@3x.jpg 3x
          "
          src="./images/reviews/customer-1.jpg"
          alt="avatar Emily"
          width="85"
        />

        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
      <li class="reviews_list">
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-2.jpg    1x,
            ./images/reviews/customer-2@2x.jpg 2x,
            ./images/reviews/customer-2@3x.jpg 3x
          "
          src="./images/reviews/customer-2.jpg"
          alt="avatar Emily"
          width="85"
        />
        <!-- путь-к-свг-спрайту/имя-спрайта.svg#идентификатор-символа -->
        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
      <li class="reviews_list">
        <!-- ./src/images/reviews/customer-3.jpg -->
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-3.jpg    1x,
            ./images/reviews/customer-3@2x.jpg 2x,
            ./images/reviews/customer-3@3x.jpg 3x
          "
          src="./images/reviews/customer-3.jpg"
          alt="avatar Emily"
          width="85"
        />
        <!-- <svg width="400" height="300">
          <use href="./src/images/logo.png"></use>
        </svg> -->
        <p class="reviews_description">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
        <p class="reviews_signature">Emily, Los Angeles</p>
      </li>
    </ul>
  </div>
</section>
