<!-- SECTION CUSTOMERS REVIEWS -->

<section class="reviews section">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="container reviews_container">
    <ul class="reviews_item item carousel">
      <li class="reviews_list carousel_item">
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-1.jpg    1x,
            ./images/reviews/customer-1@2x.jpg 2x,
            ./images/reviews/customer-1@3x.jpg 3x
          "
          src="./images/reviews/customer-1.jpg"
          alt="avatar Emily"
          width="85"
        />

        <div class="reviews_thumb-description">
          <svg class="reviews_icon" width="54" height="40">
            <use href="./images/icons.svg#icon-commas"></use>
          </svg>
          <div class="reviews_description-decor">
            <p class="reviews_description">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="reviews_signature">Emily, Los Angeles</p>
        <!-- <svg class="home-icon" width="12" height="12">
          <use href="./images/icons.svg#icon-home-btn"></use>
        </svg> -->
      </li>
      <li class="reviews_list carousel_item">
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-2.jpg    1x,
            ./images/reviews/customer-2@2x.jpg 2x,
            ./images/reviews/customer-2@3x.jpg 3x
          "
          src="./images/reviews/customer-2.jpg"
          alt="avatar Emily"
          width="85"
        />

        <div class="reviews_thumb-description">
          <svg class="reviews_icon" width="54" height="40">
            <use href="./images/icons.svg#icon-commas"></use>
          </svg>
          <div class="reviews_description-decor">
            <p class="reviews_description">
              I like to try different kind of ice-cream flavors.Recently I tried
              "Red PERU" ice-cream in Rajmandir Ice-cream Parlor.I was excited
              to try this flavor and it was super delicious.
            </p>
          </div>
        </div>
        <p class="reviews_signature">Alisia, Copenhagen</p>
      </li>
      <li class="reviews_list carousel_item">
        <!-- ./src/images/reviews/customer-3.jpg -->
        <img
          class="reviews_foto"
          srcset="
            ./images/reviews/customer-3.jpg    1x,
            ./images/reviews/customer-3@2x.jpg 2x,
            ./images/reviews/customer-3@3x.jpg 3x
          "
          src="./images/reviews/customer-3.jpg"
          alt="avatar Emily"
          width="85"
        />
        <div class="reviews_thumb-description">
          <svg class="reviews_icon" width="54" height="40">
            <use href="./images/icons.svg#icon-commas"></use>
          </svg>
          <div class="reviews_description-decor">
            <p class="reviews_description">
              Eating ice cream makes me happy. It’s a mouth-watering dessert for
              everyone. They many flavors in India that offers ice creams in
              form of cone, cup, stick etc.
            </p>
          </div>
        </div>
        <p class="reviews_signature">Meera, Muzaffarpur</p>
      </li>
    </ul>
  </div>
</section>
